{% extends "base.html"%}
{% block content %}

<h1>Criar usuário</h1>

<form method="post">
    <p>
        <label for="id_usuario">nº identificador: </label>
        <input type="text" name="id_usuario"
               placeholder="identificador do usuario">
        </input>
    </p>
    <p>
        <label for="nome_usuario">Nome usuário: </label>
        <input type="text" name="nome_usuario"
               placeholder="nome do usuario">
        </input>
    </p>
    <p>
        <label for="senha">Senha usuário: </label>
        <input type="text" name="senha"
               placeholder="senha">
        </input>
    </p>
    <p>
        <label>Tipo usuário:</label>
        <select name="tipo">
            <option value="admin">admin</option>
            <option value="comum">comum</option>
        </select>
    </p>
        <button type="submit">Salvar</button>
</form>
{% endblock %}