{% extends "base.html"%}
{% block content %}

<h1>Alugar Recurso</h1>

<form action="alugar_recurso" method="post">
    <!-- <p>
        <label for="id_usuario">ID usuário: </label>
        <input type="text" name="id_usuario"
               placeholder="nome do recurso">
        </input>
    </p> -->
    <p>
        <label for="nome_recurso">Nome do recurso: </label>
        <input type="text" name="nome_recurso"
               placeholder="nome do recurso">
        </input>
    </p>

    <p>
        <label for="qtde_recurso">Quantidade:</label>
        <input type="number" name="qtde_recurso"
               placeholder="quantidade do recurso">
        </input>
    </p>
        <button type="submit">Alugar</button>
</form>

{% endblock %}